
default_locale={{ default_locale|default("en", true) }}
time_zone={{ time_zone|default("UTC", true) }}
journal_database_write_locale={{ journal_database_write_locale|default("en", true) }}
audit_trail_database_write_locale={{ audit_trail_database_write_locale|default("en", true) }}
notifications_database_write_locale={{ notifications_database_write_locale|default("en", true) }}
proband_list_status_reasons_database_write_locale={{ proband_list_status_reasons_database_write_locale|default("en", true) }}
cv_pdf_locale={{ cv_pdf_locale|default("en", true) }}
reimbursements_pdf_locale={{ reimbursements_pdf_locale|default("en", true) }}
course_participant_list_pdf_locale={{ course_participant_list_pdf_locale|default("en", true) }}
proband_letter_pdf_locale={{ proband_letter_pdf_locale|default("en", true) }}
course_certificate_pdf_locale={{ course_certificate_pdf_locale|default("en", true) }}
ecrf_pdf_locale={{ ecrf_pdf_locale|default("en", true) }}
inquiries_pdf_locale={{ inquiries_pdf_locale|default("en", true) }}
proband_list_entry_tags_pdf_locale={{ proband_list_entry_tags_pdf_locale|default("en", true) }}
