
enable_inventory_module={{ enable_inventory_module|default("true", true) }}
enable_staff_module={{ enable_staff_module|default("true", true) }}
enable_course_module={{ enable_course_module|default("true", true) }}
enable_trial_module={{ enable_trial_module|default("true", true) }}
enable_proband_module={{ enable_proband_module|default("true", true) }}
enable_input_field_module={{ enable_input_field_module|default("true", true) }}
enable_user_module={{ enable_user_module|default("true", true) }}
enable_mass_mail_module={{ enable_mass_mail_module|default("true", true) }}
