
{% if ansible_os_family == 'Windows' %}
@echo off
perl C:\ctsms\bulk_processor\CTSMS\BulkProcessor\Projects\ETL\InquiryExporter\process.pl %*
{% else %}
#!/bin/bash
perl /ctsms/bulk_processor/CTSMS/BulkProcessor/Projects/ETL/InquiryExporter/process.pl $*
{% endif %}
